(a) Full Name:Ankit


(b) Class Roll Number:19MTS5630


(c) Name of Course: B.Sc. Mathematical Sciences


(d) Semester: 3rd Semester (2nd Year)


(e) Name of Subject: Data Analysis Using Python (SEC)


(f) Assessment: B.Sc. Mathematical Sciences, 3rd Semester Lab-Work Assessment


(g) Assessment Date: 30th November 2020


(h) Assessment Time: 10am â€“ 12noon


(i) Compiler Used: Google Colab


(j) Email ID used for assessment submission: ankit75me@gmail.com


(k) Submitted to: Dr. Rajan Gupta


(l) College/University: Deen Dayal Upadhyaya College, University of Delhi

In [ ]:
#importing libraries
import pandas as pd
import numpy as np

 **Q1.Create a 1-D array of the following shoe brand names in the given particular order - (Nike,
Adidas, Reebok, Puma, Adidas, Nike, Reebok, Reebok). Now create a random array of 8
rows and 4 columns with only positive numbers and multiply each element by 10,000. This
array determines the price of the shoes of various brands having four different variants.
Display the price of all Adidas Shoes, Reebok Shoes, PUMA Shoes and Nike Shoes,
individually. Then display the Price of only 2nd and 3rd variant of all Nike or Adidas shoes,
and the price of 1st and 2nd variant of shoes other than Nike or Puma Brand.
Also, display the price of all the shoes which are more than 1500 and then change the price
of all the Reebok shoes to 5000. Then print only 1st and 2nd variant prices of first four
brands of the shoes.**

In [ ]:
brands = np.array(['Nike', 'Addidas', 'Reebok', 'Puma', 'Adidas', 'Nike', 'Reebok','Reebok'])
data = np.random.rand(8,4)
data

array([[0.10413886, 0.20247966, 0.60565598, 0.92417286],
       [0.55036873, 0.23237699, 0.41748977, 0.69353797],
       [0.33256468, 0.54496759, 0.53599117, 0.74294544],
       [0.63333695, 0.47269396, 0.76353479, 0.22421685],
       [0.87180453, 0.72113057, 0.77546606, 0.22816213],
       [0.94056885, 0.74368731, 0.49280833, 0.19991938],
       [0.25531568, 0.78549946, 0.90275153, 0.42131165],
       [0.36458064, 0.82591045, 0.59068481, 0.34817738]])

In [ ]:
#price of shoes
price=data*10000
price

array([[1041.38864032, 2024.79662413, 6056.55984579, 9241.72860283],
       [5503.68728268, 2323.76989569, 4174.89770773, 6935.37968947],
       [3325.64681028, 5449.6758872 , 5359.91167776, 7429.45437367],
       [6333.36947995, 4726.93956021, 7635.34793091, 2242.16845261],
       [8718.04527463, 7211.3056634 , 7754.66057951, 2281.62126666],
       [9405.68851121, 7436.87310508, 4928.08327818, 1999.19381249],
       [2553.15682561, 7854.99462226, 9027.51529035, 4213.11650732],
       [3645.8063723 , 8259.10452912, 5906.84813966, 3481.7737515 ]])

In [ ]:
#price of addidas shoes
price[brands == 'Addidas']

array([[5503.68728268, 2323.76989569, 4174.89770773, 6935.37968947]])

In [ ]:
#price of reebok shoes
price[brands == 'Reebok']

array([[3325.64681028, 5449.6758872 , 5359.91167776, 7429.45437367],
       [2553.15682561, 7854.99462226, 9027.51529035, 4213.11650732],
       [3645.8063723 , 8259.10452912, 5906.84813966, 3481.7737515 ]])

In [ ]:
#price of Puma shoes
price[brands == 'Puma']

array([[6333.36947995, 4726.93956021, 7635.34793091, 2242.16845261]])

In [ ]:
#price of Nike shoes
price[brands == 'Nike']

array([[1041.38864032, 2024.79662413, 6056.55984579, 9241.72860283],
       [9405.68851121, 7436.87310508, 4928.08327818, 1999.19381249]])

In [ ]:
#the Price of only 2nd and 3rd variant of all Nike or Adidas shoes
price[(brands == "Nike")|(brands == "Adidas"),1:3]

array([[2024.79662413, 6056.55984579],
       [7211.3056634 , 7754.66057951],
       [7436.87310508, 4928.08327818]])

In [ ]:
#the price of 1st and 2nd variant of shoes other than Nike or Puma Brand
price[(brands != "Nike")|(brands != "Puma"),0:2]

array([[1041.38864032, 2024.79662413],
       [5503.68728268, 2323.76989569],
       [5000.        , 5000.        ],
       [6333.36947995, 4726.93956021],
       [8718.04527463, 7211.3056634 ],
       [9405.68851121, 7436.87310508],
       [5000.        , 5000.        ],
       [5000.        , 5000.        ]])

In [ ]:
 #Price of all the shoes which are more than 1500
 price[price>1500]

array([2024.79662413, 6056.55984579, 9241.72860283, 5503.68728268,
       2323.76989569, 4174.89770773, 6935.37968947, 3325.64681028,
       5449.6758872 , 5359.91167776, 7429.45437367, 6333.36947995,
       4726.93956021, 7635.34793091, 2242.16845261, 8718.04527463,
       7211.3056634 , 7754.66057951, 2281.62126666, 9405.68851121,
       7436.87310508, 4928.08327818, 1999.19381249, 2553.15682561,
       7854.99462226, 9027.51529035, 4213.11650732, 3645.8063723 ,
       8259.10452912, 5906.84813966, 3481.7737515 ])

In [ ]:
#Change the price of all the Reebok shoes to 5000
price[brands == 'Reebok'] = 5000
price

array([[1041.38864032, 2024.79662413, 6056.55984579, 9241.72860283],
       [5503.68728268, 2323.76989569, 4174.89770773, 6935.37968947],
       [5000.        , 5000.        , 5000.        , 5000.        ],
       [6333.36947995, 4726.93956021, 7635.34793091, 2242.16845261],
       [8718.04527463, 7211.3056634 , 7754.66057951, 2281.62126666],
       [9405.68851121, 7436.87310508, 4928.08327818, 1999.19381249],
       [5000.        , 5000.        , 5000.        , 5000.        ],
       [5000.        , 5000.        , 5000.        , 5000.        ]])

In [ ]:
#only 1st and 2nd variant prices of first four brands of the shoes.
price[0:4,0:2]

array([[1041.38864032, 2024.79662413],
       [5503.68728268, 2323.76989569],
       [3325.64681028, 5449.6758872 ],
       [6333.36947995, 4726.93956021]])

2) Create a dataframe of 10 students for their complete graduation (3 years) with 3 columns -
Name, Year, Percentage
e.g. (Ram, 2017, 75), (Ram, 2018, 77), (Ram, 2019, 80), (Reeta, 2017, 83), (Reeta, 2018, 89),
(Reeta, 2019, 85), etc. (This will make 30 entries in the dataframe for the 10 students across
3 years [2017-2018-2019])
Perform the following operations.

In [ ]:
rdata={'Name':['Ram','Ram','Ram','Shyam','Shyam','Shyam','Jake','Jake','Jake','Fake','Fake','Fake','Gina','Gina','Gina','Tina','Tina','Tina','Menna','Menna','Menna','Sam','Sam','Sam','Mike','Mike','Mike','Harvey','Harvey','Harvey'],'Year':[2017,2018,2019,2017,2018,2019,2017,2018,2019,2017,2018,2019,2017,2018,2019,2017,2018,2019,2017,2018,2019,2017,2018,2019,2017,2018,2019,2017,2018,2019],'Percentage':[75,45,68,83,42,54,98,76,67,67,44,33,98,60,75,45,76,69,70,78,89,87,96,69,80,78,75,65,67,87]}
record=pd.DataFrame(rdata)
record

      Name  Year  Percentage
0      Ram  2017          75
1      Ram  2018          45
2      Ram  2019          68
3    Shyam  2017          83
4    Shyam  2018          42
5    Shyam  2019          54
6     Jake  2017          98
7     Jake  2018          76
8     Jake  2019          67
9     Fake  2017          67
10    Fake  2018          44
11    Fake  2019          33
12    Gina  2017          98
13    Gina  2018          60
14    Gina  2019          75
15    Tina  2017          45
16    Tina  2018          76
17    Tina  2019          69
18   Menna  2017          70
19   Menna  2018          78
20   Menna  2019          89
21     Sam  2017          87
22     Sam  2018          96
23     Sam  2019          69
24    Mike  2017          80
25    Mike  2018          78
26    Mike  2019          75
27  Harvey  2017          65
28  Harvey  2018          67
29  Harvey  2019          87

**(a) Display the first 8 entries of the dataframe**

In [ ]:
record.head(8)

    Name  Year  Percentage
0    Ram  2017          75
1    Ram  2018          45
2    Ram  2019          68
3  Shyam  2017          83
4  Shyam  2018          42
5  Shyam  2019          54
6   Jake  2017          98
7   Jake  2018          76

(b) Display the last 5 entries of the dataframe

In [ ]:
record.tail(5)

      Name  Year  Percentage
25    Mike  2018          78
26    Mike  2019          75
27  Harvey  2017          65
28  Harvey  2018          67
29  Harvey  2019          87

(c) Change the index values of the dataframe with numbers written as text. e.g. 1 replaced as One, 2 replaced as Two, etc.

In [ ]:
record.index=['zero','one', 'two', 'three', 'four','five', 'six','seven','eight','nine','ten','eleven','twelve','thirteen','fourteen','fifteen','sixteen','seventeen','eighteen','nineteen','twenty','twentyone','twentytwo','twentythree','twentyfour','twentyfive','twentysix','twentyseven','twentyeight','twentynine']
record

               Name  Year  Percentage
zero            Ram  2017          75
one             Ram  2018          45
two             Ram  2019          68
three         Shyam  2017          83
four          Shyam  2018          42
five          Shyam  2019          54
six            Jake  2017          98
seven          Jake  2018          76
eight          Jake  2019          67
nine           Fake  2017          67
ten            Fake  2018          44
eleven         Fake  2019          33
twelve         Gina  2017          98
thirteen       Gina  2018          60
fourteen       Gina  2019          75
fifteen        Tina  2017          45
sixteen        Tina  2018          76
seventeen      Tina  2019          69
eighteen      Menna  2017          70
nineteen      Menna  2018          78
twenty        Menna  2019          89
twentyone       Sam  2017          87
twentytwo       Sam  2018          96
twentythree     Sam  2019          69
twentyfour     Mike  2017          80
twentyfive     Mike  2018          78
twentysix      Mike  2019          75
twentyseven  Harvey  2017          65
twentyeight  Harvey  2018          67
twentynine   Harvey  2019          87

(d) Add a grade column with no values

In [ ]:
record = pd.DataFrame(rdata, columns=['Name', 'Year', 'Percentage', 'Grade'])
record

      Name  Year  Percentage Grade
0      Ram  2017          75   NaN
1      Ram  2018          45   NaN
2      Ram  2019          68   NaN
3    Shyam  2017          83   NaN
4    Shyam  2018          42   NaN
5    Shyam  2019          54   NaN
6     Jake  2017          98   NaN
7     Jake  2018          76   NaN
8     Jake  2019          67   NaN
9     Fake  2017          67   NaN
10    Fake  2018          44   NaN
11    Fake  2019          33   NaN
12    Gina  2017          98   NaN
13    Gina  2018          60   NaN
14    Gina  2019          75   NaN
15    Tina  2017          45   NaN
16    Tina  2018          76   NaN
17    Tina  2019          69   NaN
18   Menna  2017          70   NaN
19   Menna  2018          78   NaN
20   Menna  2019          89   NaN
21     Sam  2017          87   NaN
22     Sam  2018          96   NaN
23     Sam  2019          69   NaN
24    Mike  2017          80   NaN
25    Mike  2018          78   NaN
26    Mike  2019          75   NaN
27  Harvey  2017          65   NaN
28  Harvey  2018          67   NaN
29  Harvey  2019          87   NaN

(e) Display the student details only for the year 2018

In [ ]:
record[record['Year']==2018]

      Name  Year  Percentage Grade
1      Ram  2018          45   NaN
4    Shyam  2018          42   NaN
7     Jake  2018          76   NaN
10    Fake  2018          44   NaN
13    Gina  2018          60   NaN
16    Tina  2018          76   NaN
19   Menna  2018          78   NaN
22     Sam  2018          96   NaN
25    Mike  2018          78   NaN
28  Harvey  2018          67   NaN

(f) Display the student details having more than 75% marks in any year

In [ ]:
record[record.Percentage>75]

      Name  Year  Percentage Grade
3    Shyam  2017          83   NaN
6     Jake  2017          98   NaN
7     Jake  2018          76   NaN
12    Gina  2017          98   NaN
16    Tina  2018          76   NaN
19   Menna  2018          78   NaN
20   Menna  2019          89   NaN
21     Sam  2017          87   NaN
22     Sam  2018          96   NaN
24    Mike  2017          80   NaN
25    Mike  2018          78   NaN
29  Harvey  2019          87   NaN

(g) Find the transpose of the dataframe

In [ ]:
record.T

              0     1     2      3      4   ...    25    26      27      28      29
Name         Ram   Ram   Ram  Shyam  Shyam  ...  Mike  Mike  Harvey  Harvey  Harvey
Year        2017  2018  2019   2017   2018  ...  2018  2019    2017    2018    2019
Percentage    75    45    68     83     42  ...    78    75      65      67      87
Grade        NaN   NaN   NaN    NaN    NaN  ...   NaN   NaN     NaN     NaN     NaN

[4 rows x 30 columns]

3) Explain the GROUPBY feature with 3 examples.

**Group By Operation :**
A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

Illustration of Group By Mechanics :

![Capture.JPG]()

In [ ]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
team = pd.DataFrame(ipl_data)
team

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

Example 1: Grouping by single column and finding mean

In [ ]:
groupteam=df.groupby(['Team'])
groupteam.mean()

            Rank         Year      Points
Team
Devils  2.500000  2014.500000  768.000000
Kings   1.666667  2015.666667  761.666667
Riders  1.750000  2015.500000  762.250000
Royals  2.500000  2014.500000  752.500000
kings   4.000000  2015.000000  812.000000

Example 2 : Grouping by Multiple Column

In [ ]:
grouprank = df.groupby(['Team','Rank'])
grouprank.mean()

               Year      Points
Team   Rank
Devils 2     2014.0  863.000000
       3     2015.0  673.000000
Kings  1     2016.5  772.000000
       3     2014.0  741.000000
Riders 1     2014.0  876.000000
       2     2016.0  724.333333
Royals 1     2015.0  804.000000
       4     2014.0  701.000000
kings  4     2015.0  812.000000

Example 3 : Hierarchical Indexes

In [ ]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
animaldf = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                  index=index)
animaldf

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [ ]:
animaldf.groupby(level="Type").mean()

         Max Speed
Type
Captive      210.0
Wild         185.0

Iterating over Groups:

In [ ]:
grouped = team.groupby('Year')

for name,group in grouped:
   print (name)
   print (group)

2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

In [ ]:
#size of group
grouped.size()

Year
2014    4
2015    4
2016    2
2017    2
dtype: int64

In [ ]:
#changing axis of groupby to make it row wise
grouped = df.groupby(df.dtypes, axis=1)
grouped

In [ ]:
for dtype, group in grouped:
  print(dtype)
  print(group)

int64
    Rank  Year  Points
0      1  2014     876
1      2  2015     789
2      2  2014     863
3      3  2015     673
4      3  2014     741
5      4  2015     812
6      1  2016     756
7      1  2017     788
8      2  2016     694
9      4  2014     701
10     1  2015     804
11     2  2017     690
object
      Team
0   Riders
1   Riders
2   Devils
3   Devils
4    Kings
5    kings
6    Kings
7    Kings
8   Riders
9   Royals
10  Royals
11  Riders