JUPYTER NOTEBOOK CREATED BY

# DR. RAJAN GUPTA

# DEEN DAYAL UPADHYAYA COLLEGE

# UNIVERSITY OF DELHI

# rgupta.cs.du@gmail.com

In [ ]:
#This will contain the content of Unit 2 from Chapter 6

UNIT II - Import and Export of Data: Installing,
loading and using packages for importing and
exporting data in Python [6.1 upto page no. 176 (excluding Tables 6.1 and 6.2)]

In [ ]:
#Major Types of data files:
# CSV, Excel, HTML, Table '\t', SQL, SAS, JSON, etc.

In [ ]:
#Important to note the location of the file
#File must be present in the current working directory or else
# complete file path needs to be given while reading a file.

In [ ]:
#Importing PANDAS and NUMPY for major functions & operations
#Pandas have most relevant data file reading functions
import pandas as pd
import numpy as np

In [ ]:
#Normal read_csv command to read the data if Python Running Locally on Machine
#read_csv automatically converts the structure into a dataframe
#data_ex1csv = pd.read_csv('F:\Mckinney_Datasets\ex1.csv')
#data_ex1csv

In [ ]:
#For Google Colab, we need to upload the file on Google Drive and link it
#Step 1: Mounting Google Drive to COLAB (You will be asked to copy a code here)
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#Step 2: Getting the files by giving the path of the file on Google drive
#The files must be first present on the Google Drive
data_ex1csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex1.csv')
data_ex1csv

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
#Reading using Table command by specifying the delimiter
data_ex1tab = pd.read_table('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex1.csv', sep=',')
data_ex1tab

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
#Sometimes the header is missing, so first row will become header
data_ex2csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex2.csv')
data_ex2csv

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [ ]:
#Sometimes the header is missing and we can mention it while reading the dataset
data_ex2csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex2.csv', header=None)
data_ex2csv

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [ ]:
#When header is not given, we can specify our own header while reading the data
data_ex2csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex2.csv', names=['a','b','c','d','message'])
data_ex2csv

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
#We can also specify the items of Message Column as the row index labels
names = ['a', 'b', 'c', 'd', 'message']
data_ex2csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex2.csv', names=names, index_col='message')
data_ex2csv

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [ ]:
#form a hierarchical index from multiple columns, we can pass a list of column 
#numbers or names
data_mindexcsv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/csv_mindex.csv')
data_mindexcsv

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [ ]:
#Heirarchy of Index
data_mindexcsv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/csv_mindex.csv', index_col=['key1','key2'])
data_mindexcsv

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
#Many a times there is no fixed delimiter in the file that we are reading
#It may have irregular number of whitespaces or some other patterns

In [ ]:
#Reading a text file with variable amount of whitespace
#we use an expression to count variable whitespaces "\s+"
data_ex3txt = pd.read_table('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex3.txt', sep='\s+')
data_ex3txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [ ]:
#Modified data in csv file which is redundant for us so we will skip in next command
data_ex4csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex4.csv')
data_ex4csv

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [ ]:
#Skipping the rows to be read from the datafile
#We skip row 0, 2, 3 as 1 is our header and 4,5,6 are actual data
data_ex4csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex4.csv', skiprows=[0,2,3])
data_ex4csv

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
#Handling Missing Values while reading the dataset
#original data
data_ex5csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex5.csv')
data_ex5csv

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
#Checking how many values are null/nan
pd.isnull(data_ex5csv)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [ ]:
#We can specify our own NA values which we think is not applicable to us
#e.g. in message column foo and NA are NaN for us
#or in something column, two is NaN for us
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
data_ex5csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex5.csv', na_values=sentinels)
data_ex5csv

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [ ]:
pd.isnull(data_ex5csv)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1       True  False  False   True  False    False
2      False  False  False  False  False     True

In [ ]:
#Reading Text Files in Pieces

When processing very large files or figuring out the right set of arguments to correctly process a large file, you may only want to read in a small piece of a file or iterate through smaller chunks of the file.

In [ ]:
#Firstly, we can set the display settings as compact as possible
pd.options.display.max_rows = 10

In [ ]:
#reading the large data file with default display
data_ex6csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex6.csv')
data_ex6csv

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [ ]:
#If we want to only read a small number of rows (avoiding reading the entire file),
#we can specify that with nrows:
data_ex6csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex6.csv', nrows=5)
data_ex6csv

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [ ]:
#To read a file in pieces, we can specify a chunksize as a number of rows:
data_ex6csv_chunks = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex6.csv', chunksize=1000)
data_ex6csv_chunks

The TextParser object returned by read_csv allows you to iterate over the parts of
the file according to the chunksize. For example, we can iterate over ex6.csv, aggregating the value counts in the 'key' column like so:

In [ ]:
total = pd.Series([])
for piece in data_ex6csv_chunks:
  total = total.add(piece['key'].value_counts(), fill_value=0)

total = total.sort_values(ascending=False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
#We get the total count of the rows for each 'key' column value
total[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

WRITING TO A DATAFILE

In [ ]:
#We use the function to_csv
data_ex5csv = pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/ex5.csv')
data_ex5csv

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
data_ex5csv.to_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/outex5.csv')

In [ ]:
pd.read_csv('/content/gdrive/My Drive/Classroom/Mckinney_Datasets/outex5.csv')

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

In [1]:
jt -t monokai -f fira -fs 13 -nf ptsans -nfs 11 -N -kl -cursw 5 -cursc r -cellw 95% -T

SyntaxError: invalid syntax (<ipython-input-1-56c6bda5a8ac>, line 1)